body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
}

.user-icons span {
    margin-left: 10px;
}

.breadcrumb {
    padding-left: 140px;
}

.our-story {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.story-text {
    width: 40%;
    text-align: justify;
    padding-right: 20px;
}

.story-text h1 {
    color: #007bff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.story-image {
    width: 50%;
}

.story-image img {
    width: 100%;
    height: auto;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.stat-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.stat-card.highlight {
    background: #ff0000;
    color: #fff;
}

.team {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team-member h3 {
    margin: 10px 0;
}

.social span {
    margin: 0 5px;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.service-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}