a.index{
    color: #007bff;
    border-bottom: 2px solid #007bff;

}

.category{
    cursor: pointer;
}

.category-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
}

.category-menu a {
    text-decoration: none;
    color: #000;
}

.banner {
    color: white;
    text-align: center;
    padding: 214px;
    background: url('../images/technology-785742_1280.jpg');
    background-size: cover;
    background-position: center;
}

.banner h1, .banner h2, .banner h3 {
    margin: 5px 0;
}

.banner img {
    max-width: 200px;
}

.deals, .top-categories, .top-brands, .daily-essentials {
    padding: 20px;
    text-align: center;
}

.deals h4, .top-categories h4 {
    font-size: 1.3em;
    margin: 50px;
}

.deal-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.deal-items .item {
    height: 300px;
    width: 250px;
    margin: 10px;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 17px;
}

.deal-items .item p{
    padding: 6px 0;
}

.top-categories .item {
    margin: 10px;
    text-align: center;
    /* border: 1px solid #007bff; */
    border-radius: 17px;
}

.item img {
    max-width: 250px;
    border-radius: 16px 16px 0 0;
}

.top-categories .item img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.btn-items{
    cursor: pointer;
    padding: 13px;
    width: 50%;
    margin: 0 auto;
    color: white;
    border-radius: 30px;
    background: #007bff;
}

.end-section{
    margin-bottom: 50px;
}

.view-all {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}
